.ItemDetailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Link {
  text-decoration: none;
  color: #000;
}

.AddToCart button {
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.CircularProgress {
  margin: 100px 0;
}
