.footer {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.footer .git a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
